.box {
  transition: width 0.1s, font-size 0.1s;
  text-rendering: geometricPrecision;
  transition: transform .3s cubic-bezier(0.55, 0, 0.55, 0.2) , color .3s cubic-bezier(0.55, 0, 0.55, 0.2);
  position: relative;
  margin-bottom: 2vh;
}

div.box:hover {
  transform: scale(1.03);
  cursor: pointer;
}

div.box {
  display: table;
}

.box > img {
  vertical-align: middle;
  display: table-cell;
  width: 20vw;
  margin-left: 2vw;
  border-radius: 5%;
  border: 4px solid transparent;
}

.box > span {
  vertical-align: middle;
  display: table-cell;
  width: 25vw;
}

.gridItem > span > h2 {
  margin-top: 3vh;
  margin-left: 5vw;
}

.gridItem > span > ul {
  float: left;
  margin-top: 0;
  width: 100vw;
}
