#photoBox {
  position: relative;
  margin-top: 7vh;
  width: 40vw;
  text-align: center;
  padding: 1vw 0vw;
}

#photoOfMe {
  width: 15vw;
  display: inline-block;
  border-radius: 20%;
  border: 0.2vw solid transparent;
  background: var(--accent-color) border-box;
}

.contentLeft {
  padding: 0vw 6vw;
}

.contentLeft > ul {
  float: left;
  overflow: hidden;
  list-style-type: none;
  padding: 0;
}

.contentLeft > h3 {
  margin-bottom: -0.8vh;
}

