body {
  margin: 0;
  height: 200%;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 1100px) {
  body {
    margin-left: 5%;
  }
  #left {
    margin-bottom: 5%;
  }
  #right {
    margin-bottom: 5%;
  }
  
}
