body {
  z-index: 0;
  background-color: #1a181a;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(315deg, #1a181a, #1a181a);
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  background-color: #e3e1e4;
  background-size: 100%;
  width: fit-content;
  margin-bottom: 0%;
}

h2 {
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #e3e1e4;
}

li,
p,
a {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #e3e1e4;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #e3e1e4;
  text-decoration: none;
}
